{% load static %}
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="btn btn-success btn-sm"  style="margin-left: 10px"
                                       href="{% url 'transactions:add' %}">Add Transaction</a>
                                    <a class="btn btn-primary btn-sm"
                                       style="margin-left: 5px"
                                       aria-current="page"
                                       href="{% url 'transactions:transactions_list' %}">
<!--                                        <svg class="bi"><use xlink:href="#house-fill"/></svg>-->
                                        All Transactions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'transactions:expenses' %}">
<!--                                        <svg class="bi"><use xlink:href="#file-earmark"/></svg>-->
                                        Expenses
                                    </a>
                                </li>
                                <li class="nav-item">
<!--                                    ?category={{categorY_id}}-->
                                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'transactions:incomes' %}">
<!--                                        <svg class="bi"><use xlink:href="#cart"/></svg>-->
                                        Incomes
                                    </a>
                                </li>

                            </ul>

                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                                <span>Reports</span>
                                <a class="link-secondary" href="#" aria-label="Add a new report">
<!--                                    <svg class="bi"><use xlink:href="#plus-circle"/></svg>-->
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-auto">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'transactions:expenses_report' %}">
<!--                                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>-->
                                       Expenses Report
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'transactions:incomes_report' %}">
<!--                                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>-->
                                        Incomes Report
                                    </a>
                                </li>

                            </ul>

                            <hr class="my-3">

                            <ul class="nav flex-column mb-auto">
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link d-flex align-items-center gap-2" href="#">-->
<!--&lt;!&ndash;                                        <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>&ndash;&gt;-->
<!--                                        Settings-->
<!--                                    </a>-->
<!--                                </li>-->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2" href="#">
<!--                                        <svg class="bi"><use xlink:href="#door-closed"/></svg>-->
                                        <form action="{% url 'logout' %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-md btn-danger" type="submit">Sign out</button>
                                        </form>

                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>