{% extends 'base.html' %}
{% block title %}
    <table class="table" style="margin-top: 10x">
        <thead>
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Note</th>
                <th>Type</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions_list %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.account }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.note }}</td>
<!--                    <td>{{ item.type }}</td>-->
                    <td>
                            <a class="btn btn-warning btn-sm"  style="margin-left: 10px"
                                       href="{% url 'transactions:update' item.id %}">Update</a>

                            <a class="btn btn-danger btn-sm"  style="margin-left: 10px"
                                       href="{% url 'transactions:delete' item.id %}">Delete</a>
                    </td>
                    <td>{{ item.active }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}